
.descuentos{
   display: flex;
   gap: 1rem;
   padding: 1rem;
   flex-wrap: wrap;
   justify-content: center;
}
.card{
   width: 100%;

}

.card-img{
   height: 50%;
}

.noticias{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 1rem;
   padding: 1rem;
}
   
.galeria{
   display: flex;
   flex-flow: wrap;
   justify-content: center;
 }
 
 .galeria-img{
   max-width: 300px;
   padding: 1rem;
 }

// desktop
@media screen and (min-width: 1028px) {
   .card{ 
      width: 100%;
      max-width: 280px;
   }
   
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1027px) {
   .card{ 
      width: 100%;
      max-width: 420px;
   }   
}

// mobile
@media screen and (max-width: 767px) {
   .card{ 
      width: 100%;
   }
   
}

