.button-nav{
    display: flex;
    align-items: center;
    border: none;
    height: 32px;
    border-radius: 16px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    &:hover{
        background-color: rgba(0, 0, 0, 0.20);;
    }

}

.secction-title{
    display: flex;
    gap: 1rem;
    margin: 20px 0 0 40px;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        border: none;
        height: 32px;
        border-radius: 16px;
        padding-left: 1rem;
        background-color: rgba(0, 0, 0, 0.15);
        &:hover{
            background-color: rgba(0, 0, 0, 0.20);;
        }
    }
}

.img-noti{
    object-fit: cover;
    height: 100%;
}

nav * {
    color: white!important;
}

.secction-evento{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20px 0 0 90px;
    align-items: flex-start;
}



.quienes-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.quienes-somos-def{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 90px;
}

.def{
    padding: 30px;
}



// tablet
@media screen and (min-width: 768px) and (max-width: 1027px) {

    .secction-evento{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 20px;
        align-items: center;
    }

    .quienes-somos-def{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 90px;
    }
    .def{
        text-align: center;
    }
 }
 
 // mobile
 @media screen and (max-width: 767px) {

    .secction-evento{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 20px;
        align-items: center;
    }

    .quienes-somos-def{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 90px;
    }
    .def{
        text-align: center;

    }
 }
   
